<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 定义日志输出格式 -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"/>

    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 配置 com.zzszyct 包下日志，设定级别为 INFO -->
    <logger name="com.zzszyct" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- 根日志配置 -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
